@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
  }
/* Navbar */
nav {
  background-color: #ff5f04;
}
.navbar ul li a span{
  width: 30px;
  margin: 0px 15px;
}
.nav-user-icon {
  padding-right: 110px;
}
.logo {
  width: 170px;
}
.search {
  display: flex;
  align-items: center;
  width: 350px;
  padding: 0 15px;
  border-radius: 30px;
  background: white;
  border: 1px solid #ff961b;
}

.search i {
  color: #000000;
}

.search input {
  width: 100%;
  padding: 10px;
  outline: none;
  border-radius: 20px;
  margin-left: 8px;
  font-size: 15x;
  font: center;
  outline: none;
  border: none;
  background: transparent;
  align-self: center;
}
.search:hover {
  border: 1px solid #72a0d4;
}

nav li a span {
  width: 30px;
  color: white;
}
.nav-user-icon img {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}
/* Setting Profile */
.settings-menu {
  position: absolute;
  width: 90%;
  max-width: 300px;
  height: 325px;
  background: #fff;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.4);
  border-radius: 10px;
  overflow: hidden;
  top: 100%;
  right: 5%;
}
.settings-menu .border {
  background-color: #ea6914;
  margin-top: 5px;
  border-radius: 20px;
}
.profile-utama {
  display: flex;
  align-items: center;
}
.settings-menu .border img {
  margin-left: 20px;
  width: 80px;
}
.settings-menu .isi-menu {
  padding: 8px;
}
.settings-menu span {
  display: flex;
  justify-content: center;
  color: #ea6914;
}
.settings-menu ul li a {
  color: black;
  text-decoration-line: none;
}

/* container */
.container {
  display: flex;
  justify-content: space-between;
  padding: 13px 5%;
}

.left-sidebar {
  background: #ffffff;
  flex-basis: 50%;
  position: static;
  top: 70px;
  align-self: flex-start;
}
.right-sidebar {
  background: #ffffff;
  flex-basis: 60%;
  position: static;
  top: 70px;
  align-self: flex-start;
}
.main-content {
  flex-basis: 50%;
  align-self: center;
}
section .card {
  border: 2px solid #ea6914;
}
section .container .card-header {
  background: #ea6914;
  width: 237px;
}
section .container img {
  padding: 5px;
}
/* Left Sidebar */
.container .left-sidebar .header-left {
  text-align: center;
}
.left-sidebar .card {
  width: 220px;
  background-color: #ff5f04;
}
.left-sidebar .card .card-body .row {
  border-radius: 5px;
  background-color: #fff;
  margin-top: 0.5rem;
  color: #000000;
}

.left-sidebar .card .card-body .row small {
  font-size: 10px;
}
.left-sidebar .card .card-body .row small h6 {
  font: small;
  font-size: 14px;
}

/* main content */
.writer-post-contianer {
  width: 100%;
  background: #ffffff;
  border-radius: 6px;
  padding: 0 20px;
  columns: #626262;
  color: #626262;
}
.border-main {
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 13px;
  background-color: #ff5f04;
}
.border-post {
  border: 0px solid #ea6914;
  border-radius: 10px;
}
.user-profile {
  display: flex;
  align-items: start;
}
.user-profile img {
  width: 50px;
  border-radius: 50%;
  margin: 0 5px 0 0;
}
.user-profile p {
  margin-top: -5px;
  font-weight: 500;
  color: #626262;
  font-size: 14px;
  font: bold;
}
.user-profile p link {
  font: 100;
}
.user-profile small {
  font-size: 11px;
}
.post-input-container {
  padding-left: 55px;
  padding-top: none;
}
.text-area textarea {
  width: 498px;
  height: 95px;
  outline: 0;
  border: 1px solid rgb(184, 181, 181);
  background: #ffffff;
  resize: none;
  border-radius: 5px;
}
.add-post-links {
  display: flex;
  justify-content: first baseline;
  color: white;
}
.add-post-links a {
  margin-left: 10px;
}

.post-container {
  width: 100%;
  background: #ffffff;
  border-radius: 6px;
  padding: 20px;
  color: #626262;
  margin: 20px 0;
}
.post-row .hastag-post {
  color: #ffffff;
  font-size: 10px;
  background-color: #ff5f04;
  border: 1px solid;
  border-radius: 50px;
  padding: 3px 10px 1px;
}
.post-container .keterangan {
  font-size: small;
}
.post-container .keterangan-post3 {
  font-size: small;
}
.post-input-container .post-content button {
  display: flex;
  align-items: center;
  margin-left: 250px;
  font-size: 14px;
  border-radius: 50px;
  padding: 0px 20px 0px 20px;
}
.post-img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 5px;
}
.post-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.activity-icons a div {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  color: #000000;
  font-size: small;
}
.format-waktu {
  font-size: small;
}
/* .activity-icons {
  margin-left: 50px;
} */

.name-article {
  font-size: 18px;
}
/* right sidebar */

.right-sidebar .card {
  width: 300px;
  background-color: #ff5f04;
}
.right-sidebar .card .card-body .row {
  border-radius: 5px;
  background-color: #fff;
  margin-top: 0.5rem;
  color: #000000;
}
.right-sidebar .card .card-body .row img {
  width: 50px;
  border-radius: 50%;
}

.right-sidebar .card .card-body .row small {
  font-size: 9px;
}
.right-sidebar .card .card-body .row small h6 {
  font-size: 14px;
}

/* .text-popular {
  font-size: 12px;
} */

/* .right-sidebar .card2-gambar li img {
  margin: none;
} */

/* .card2 .card-text2,
.card-body2 {
  margin: -3px;
  font-size: 13px;
} */
